body{background:url('../images/white_carbonfiber.png');}

section{width:672px;margin:20px auto;background:rgba(255,255,255,.3)}
#gallery{padding:10px}
#gallery ul{
	list-style-type:none;
}
#gallery ul li{
	display:inline-block;
	padding:5px;
}
#gallery ul li img:hover{
	opacity:0.8;
}
